.container{
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.container h2{
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 1.5rem;

}

  .card {
    border: none;
    margin: 1rem;
    width: 390px;
  }
  
  .card-body {
    background-color: #f8f9fa;
    padding: 1.5rem;
  }

  .card-body a{
    text-decoration: none;
    color: black;
  }
  .card-body h3{
    margin-top: 1rem;
    margin-left: 1px;
    font-size: 1.5rem;
  }
  
  .rating {
    font-weight: bold;
  }
  
  .enrolled-count {
    color: #6c757d;
  }