 /*Header*/
 .mheader {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
  }
  
  .logo img {
    height: 40px;
  }
  
  /*Search bar*/
  
  .search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    width: 500px;
  }
  
  .search-bar input {
    padding: 8px;
    border: none;
    font-size: 14px;
    flex-grow: 1;
  }
  
  
  /*Explore button*/
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    color: #008a60;
    cursor: pointer;
    background-color: #baffea;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #fff;
    border: 3px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #baffae;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /**Menu Items */
  
  .nav-menus {
    display: flex;
    list-style: none;
  }
  
  .nav-menus li {
    margin-left: 20px;
  }
  
  .nav-menus li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  
  /**Signin button */
  
  .auth-button button {
    background-color: #20B486;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  

  .carousel{
    margin-top: 5%;
  }


  
/*Footer Style*/

.foo-container{
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-left: 50px;
    padding-right: 50px;
  }
  .logoname {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center; /* To center-align the text */
  }
  
  .logoname img {
      margin-right: 10px; /* Adjust as needed to add space between image and text */
      padding-bottom: 15px;
  }
  
  .footer {
      display: flex;
      justify-content: space-between;
  }
  
  .footer-section {
      flex: 1;
      margin-right: 20px; /* Adjust as needed */
  }
  
  .footer-section:last-child {
      margin-right: 0;
  }
  
  .footer-section h1 {
      font-size: 18px;
      margin-bottom: 10px;
      padding-bottom: 15px;
      padding-top: 15px;
      border-bottom: 3px solid #6c757d;
  }
  
  .footer-section ul {
      list-style-type: none;
      padding: 0px;
      margin: 0;
  
  }
  
  .footer-section ul li {
      margin-bottom: 10px;
  }
  
  .footer-section ul li a {
      text-decoration: none;
      color: inherit;
  }
  
  .footer-section p {
      margin: 5px 0;
      margin-bottom: 15px;
  }
  
  /* Container for the email input field and button */
  .newsletter-form {
      display: flex; /* Use flexbox */
      align-items: center; /* Align items vertically */
  }
  
  /* Style for the email input field */
  input[type="email"] {
      background-color: #0E495C;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      width: 250px; /* Adjust width as needed */
      margin-right: 10px; /* Add some space between the input and button */
  }
  
  /* Style for the subscribe button */
  button {
      background-color: #16656A;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease; /* Add a smooth transition effect */
  }
  
  /* Change button color on hover */
  button:hover {
      background-color: #145055;
  }