/*Header Styles*/

header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

.logo img {
  height: 40px;
}

/*Search bar*/

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  width: 500px;
}

.search-bar input {
  padding: 8px;
  border: none;
  font-size: 14px;
  flex-grow: 1;
}


/*Explore button*/

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  color: #008a60;
  cursor: pointer;
  background-color: #baffea;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #fff;
  border: 3px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #baffae;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/**Menu Items */

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-menu li {
  margin-left: 20px;
}

.nav-menu li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/**Signin button */

.auth-button button {
  background-color: #20B486;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.hero {
    position: relative;
    text-align: left;
    color: #000000;
    padding: 50px 0;
}
.hero img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.hero-content {
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: #000000;
}
.hero-content h1 {
    font-size: 80px;
    line-height: 90px;
    font-weight: bold;
    margin-bottom: 20px;
}
.typing-text {
  font-size: 2rem;
  font-weight: bold;
  white-space: pre;
}

.cursor {
  font-weight: bold;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.hero-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #000000;
}
.btn-get-started {
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #20B486;
    color: #ffffff;
    border: none;
}
.icon-row {
     display: flex;
     margin-top: 20px;
}

.icon-container {
      display: flex;
      align-items: center;
      margin-right: 20px; /* Adjust the spacing between icons */
}

.icon-container i {
      font-size: 24px;
      margin-right: 10px;

}
span{
  color:#20B486;
}

/*About Section*/
.about-section {
    padding: 60px 60px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 90%;
    margin: auto;
  }
  
  .about-content h2 {
    font-size: 36px;
    font-weight: bold;
    color: #20B486;
    margin-bottom: 20px;
  }
  
  .about-content h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .about-content p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 30px;
  }
  
  .about-image img {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 30%;
  }

  .btn-learn-more {
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #20B486;
    color: #ffffff;
    border: none;
}

/* Explore Courses */

.course-cont{
  padding: 60px 60px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 90%;
  height: auto;
  margin: 70px;
  
}
.card {
  transition: all 0.3s; /* Add transition for smooth hover effect */
  border-radius: 10px;
}
.card:hover{
  transform: scale(1.15);
}

.card-img-top {
  border-radius: 10px;
}
.card-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
}
.card-text {
  font-size: 1em;
  color: #6c757d;
}
.rating, .duration, .instructor {
  font-size: 1.5em;
  color: #ffd500;
  margin-top: 5px;
}
.btn-primary{
  margin-left: 30%;
}
.scroll-images {
  position: relative;
  width: 100%;
  padding: 40px 0px;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}


/*Our Team*/
.ourteam{
  margin-top: 90px;
  text-align: center;

}
.main{
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.profile-card{
  position: relative;
  font-family: sans-serif;
  width: 220px;
  height: 220px;
  background: #fff;
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
  margin: 0 25px;
}
.profile-card:hover{
  border-radius: 10px;
  height: 260px;
}
.profile-card .img{
  position: relative;
  width: 100%;
  height: 100%;
  transition: .6s;
  z-index: 99;
}
.profile-card:hover .img{
  transform: translateY(-60px);
}
.img img{
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
}
.profile-card:hover img{
  border-radius: 10px;
}
.caption{
  text-align: center;
  transform: translateY(-80px);
  opacity: 0;
  transition: .6s;
}
.profile-card:hover .caption{
  opacity: 1;
}
.caption h3{
  font-size: 21px;
  font-family: sans-serif;
}
.caption p{
  font-size: 15px;
  color: #0c52a1;
  font-family: sans-serif;
  margin: 2px 0 9px 0;
}
.caption .social-links a{
  color: #333;
  margin-right: 15px;
  font-size: 21px;
  transition: .6s;
}
.social-links a:hover{
  color: #0c52a1;
}


/*get in Touch*/
.container-contact {
  position: relative;
  width: 90%;
  margin: 0 auto;
  border: 3px #149279;
  border-radius: 10px;
  min-height: 100vh;
  padding: 2rem;
  background-color: #eeeaea;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: #1abc9c;
  position: relative;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #149279);
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #1abc9c;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 5px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 5px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.cbtn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #1abc9c;
  line-height: 1;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
  width: 100%;
}

.cbtn:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #1abc9c;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: #1abc9c;
}

.text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.information i {
  color: #1ABC9C;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #1abc9c, #149279);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #1abc9c;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #1cd4af, #159b80);
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .cbtn {
    padding: 0.45rem 1.2rem;
  }
}

/*Footer Style*/

.foo-container{
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding-left: 50px;
  padding-right: 50px;
}
.logoname {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* To center-align the text */
}

.logoname img {
    margin-right: 10px; /* Adjust as needed to add space between image and text */
    padding-bottom: 15px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    margin-right: 20px; /* Adjust as needed */
}

.footer-section:last-child {
    margin-right: 0;
}

.footer-section h1 {
    font-size: 18px;
    margin-bottom: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 3px solid #6c757d;
}

.footer-section ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;

}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: inherit;
}

.footer-section p {
    margin: 5px 0;
    margin-bottom: 15px;
}

/* Container for the email input field and button */
.newsletter-form {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
}

/* Style for the email input field */
input[type="email"] {
    background-color: #0E495C;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 250px; /* Adjust width as needed */
    margin-right: 10px; /* Add some space between the input and button */
}

/* Style for the subscribe button */
button {
    background-color: #16656A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

/* Change button color on hover */
button:hover {
    background-color: #145055;
}