body{
    background-image: url(../assets/img/loginbg.png);
}
  
  .card {
    background-color: #f0f8ff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
  }
  
  .card-title {
    color: #00b050; /* Green color */
  }
